<!-- css: bootstrap 
     js: express.js -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="resources/icon.png">
    <title>Air Voyage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <div class="header-page container">
        <nav class="row container">
            <ul>
                <li><a href="./contact">Contact</a></li>
                <li><a href="./aboutUs">About us</a></li>
                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#myflights" aria-controls="offcanvasRight"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="rgba(255,255,255,1)"><path d="M14 8.94737L22 14V16L14 13.4737V18.8333L17 20.5V22L12.5 21L8 22V20.5L11 18.8333V13.4737L3 16V14L11 8.94737V3.5C11 2.67157 11.6716 2 12.5 2C13.3284 2 14 2.67157 14 3.5V8.94737Z"></path></svg></button>
                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="offcanvasRight"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="rgba(255,255,255,1)"><path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path></svg></button>
            </ul>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="myflights" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                  <h4 class="offcanvas-title" id="offcanvasRightLabel">MY Flights</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <% if (locals.myFlights) { %>
                        <div>
                            <!--if user has booked flights from the database show here-->
                        </div>
                    <% } else { %>
                        <p>You dont have any flights.</p>
                    <% } %>
                </div>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="menu" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                  <h4 class="offcanvas-title" id="offcanvasRightLabel">menu</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h5 class="account" type="button" data-bs-toggle="collapse" data-bs-target="#account" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 15 18">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg>
                        Account  
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 18 18">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </h5>
                    <div class="collapse" id="account">
                        <h6><a href="./login">Login</a></h6>
                        <h6><a href="./signup">Sign up</a></h6>
                    </div>
                    <h5>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 15 18">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                          </svg>
                        settings 
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                    </h5>
        
                </div>
              </div>
        </nav>
        
        <header class="header">
            <h1>Air<br>Voyage</h1>
            <div><img src="resources/plane-takeoff-100.png" alt=""></div>
        </header>
        <div class="buttons">
            <a href="./login">Log in</a>
            <a href="./signup">Sign up</a>
        </div>
    </div>

    <main>
        <div class="buttons container">
            <button class="btn item stays col-md-3 active" type="button" data-bs-toggle="collapse" href="" aria-expanded="false" aria-controls="stays"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="currentColor"><path d="M22 11V20H20V17H4V20H2V4H4V14H12V7H18C20.2091 7 22 8.79086 22 11ZM8 13C6.34315 13 5 11.6569 5 10C5 8.34315 6.34315 7 8 7C9.65685 7 11 8.34315 11 10C11 11.6569 9.65685 13 8 13Z"></path></svg><span>Stays</span></button>
            <button class="btn item flights col-md-3" type="button" data-bs-toggle="collapse" href="" aria-expanded="false" aria-controls="fligths"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="currentColor"><path d="M14 8.94737L22 14V16L14 13.4737V18.8333L17 20.5V22L12.5 21L8 22V20.5L11 18.8333V13.4737L3 16V14L11 8.94737V3.5C11 2.67157 11.6716 2 12.5 2C13.3284 2 14 2.67157 14 3.5V8.94737Z"></path></svg><span>Flights</span></button>
            <button class="btn item Attractions col-md-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="currentColor"><path d="M12 5V2H10V5H4C3.44772 5 3 5.44772 3 6V14C3 14.5523 3.44772 15 4 15H17.4142L21.7071 10.7071C22.0976 10.3166 22.0976 9.68342 21.7071 9.29289L17.4142 5H12ZM12 17H10V22H12V17Z"></path></svg><span>Attractions</span></button>
        </div>

        <div class="stays item container collaps" id="stays">
            <div class="search-bar-stays row">
                <input class="destination  col" type="text" name="destination-stay" placeholder="Where are you going?">
                <input class=" col" type="date" name="dep-date">
                <input class=" col" type="number" name="numPersons" placeholder="number rooms">
                <button class="btn-search col" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(249,241,0,1)"><path d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"></path></svg></button>
           </div>
            <div class="still-searching-stays hidden">
                <span>Searching for places to stay</span>
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="error-stays hidden">
                <span>Sorry, no stays found.</span>
            </div>
            <h2>Trending destinations</h2>
            <div class="container trending">
                <div class="row">
                    <div class="col-lg col-sm-12" id="img-1"><h2>Istanbul</h2><img src="resources/istabul3.png" alt=""></div>
                    <div class="col-lg col-sm-12" id="img-2"><h2>Mecca</h2><img src="resources/mecca1.png" alt=""></div>
                </div>
                <div class="row">
                    <div class="col-lg col-sm-12" id="img-3"><h2>venice</h2><img src="resources/italy1.png" alt=""></div>
                    <div class="col-lg col-sm-12" id="img-4"><h2>Borabora</h2><img src="resources/borabora1.png" alt=""></div>
                    <div class="col-lg col-sm-12" id="img-5"><h2>Barcelona</h2><img src="resources/barcelona1.png" alt=""></div>
            </div>
        </div>
            <h2>Exoplore Algeria</h2>
            <div class="container explore">
                <div class="row">
                    <div class="col-lg col-sm-12"><h2>Alger</h2><img src="resources/alger.png" alt=""></div>
                    <div class="col-lg col-sm-12"><h2>Oran</h2><img src="resources/oran.png" alt=""></div>
                    <div class="col-lg col-sm-12"><h2>Constantine</h2><img src="resources/constantine2.png" alt=""></div>
                    <div class="col-lg col-sm-12"><h2>Ghardaia</h2><img src="resources/ghardaia.png" alt=""></div>
                    <div class="col-lg col-sm-12"><h2>Bejaia</h2><img src="resources/bejaia2.png" alt=""></div>
                </div>
            </div>
            </div>

            <div class="flights item container collaps hidden" id="flights">
                <h2>Search for all flights in one place</h2>
                <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    ticket type
                </button>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li>One-way</li>
                    <li>Round-trip</li>
                    <li>Multi-city</li>
                  </ul>
                <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    flight type
                </button>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li>Economy</li>
                    <li>Buisness class</li>
                    <li>First class</li>
                    <li>Multiple</li>
                  </ul>
                <form class="search-bar-flights row" action="./flights" method="get">
                    <input class="departure  col" type="text" name="departure" placeholder="from?">
                    <input class="destination  col" type="text" name="destination" placeholder="to?">
                    <input class=" col" type="date" name="dep-date">
                    <input class=" col" type="date" name="ret-date">
                    <button class="btn-search col" id="flight-search" type="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="rgba(249,241,0,1)"><path d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"></path></svg></button>
                </form>
                <div class="flights-box">
                    <div class="flights-filter">
                        <h6 class="" data-bs-toggle="collapse" href="#collapse1" aria-expanded="false">
                            Stops
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                            </svg>
                        </h6>
                        <div class="collapse" id="collapse1">
                            <input type="checkbox">
                            <label for="checkbox">None stop</label><br>
                            <input type="checkbox">
                            <label for="checkbox">1 stop</label><br>
                            <input type="checkbox">
                            <label for="checkbox">2+ stops</label><br>
                        </div>
                        <hr>
                        <h6 class="" data-bs-toggle="collapse" href="#collapse2" aria-expanded="false">
                            Air lines
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                            </svg>
                        </h6>
                        <div class="collapse" id="collapse2">
                            <input type="checkbox">
                            <label for="checkbox">Air Algerie</label><br>
                            <input type="checkbox">
                            <label for="checkbox">Turkish Airlines</label><br>
                            <input type="checkbox">
                            <label for="checkbox">lberia</label><br>
                            <input type="checkbox">
                            <label for="checkbox">Transavia France</label><br>
                            <input type="checkbox">
                            <label for="charset">Tassili</label>
                        </div>
                        <hr>
                        <h6 class="" data-bs-toggle="collapse" href="#collapse3" aria-expanded="false">
                            Price
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                            </svg>
                        </h6>
                        <div class="collapse" id="collapse3">
                            <label class="min" for="range">120$</label>
                            <label class="max" for="range">3000$</label>
                            <input type="range" name="price-min" id="price-min" value="120" min="120" max="3000">
                        </div>
                    </div>
                    <!--using an api to get flights-->
                    <div class="flights-availabel">
                        <% if (locals.flights) { %>
                             <% flights.forEach(flight => { %>
                                <div class="avflight">
                                    <p>
                                        <span>dep: <%= flight.depCode %></span>
                                        
                                        <span>at: <%= flight.depTime %></span>
                                    </p>
                                    <p>
                                        <span>des: <%= flight.ariCode %></span>
                                        
                                        <span>at: <%= flight.ariTime %></span>
                                    </p>
                                    <p>
                                        <span>carrier: <%= flight.carrierCode %></span>
                                        <br>
                                        <span>aircraft: <%= flight.airCraftCode %></span>
                                    </p>
                                </div>
                            <% }) %>
                           <% } else { %>
                            <div class="still-searching-flight hidden">
                                <span>Searching for flights</span>
                                <div class="spinner-border spinner-border-sm" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <div class="error-flights hidden">
                                <span>Sorry, no flights found</span>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
    </main>


<%- include('./footer.ejs') %>